@font-face {
	font-family:'game';
	src: url(汉仪雪君体简.ttf);
}
.login-con{
	background-image: url(../img/login-bg.jpg);
	width: 1200px;
	height: 600px;
	margin: auto;
	position: relative;
}
.login-con input[type=text]{
	position: absolute;
	left:480px;
	bottom: 175px;
	height: 50px;
	width:230px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	text-align: center;
	font-family: game;
	font-size: 30px;
}
.login-con button{
	position: absolute;
	left:480px;
	bottom: 90px;
	height: 50px;
	width:200px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	text-align: center;
    font-family: game;
    font-size: 30px;
    transition:color 0.5s linear;
}
.login-con:hover button{
	color: green;
}
.main-con{
	width: 1200px;
	height: 600px;
	margin: auto;
	background-image: url(../img/main-bg.jpg);
	position: relative;
	font-family: game;
}
.main-con .userinfo{
	position:absolute;
	border: none;
	width:250px;
	height: 250px;
	top:70px;
	left:100px;
}
.main-con .online{
	position: absolute;
	width: 285px;
	height: 175px;
	border: none;
	left:100px;
	bottom:135px;
}
.main-con .online .head{
	
}
.main-con .online .head:after{
	content: '';
	display: block;
	clear:both
}
.main-con .online .head:before{
	content: '';
	display: block;
   clear: both;
}
.main-con .online .body{
	height: 140px;
	overflow-y: scroll;
}
.main-con .online .head h3{
	float: left;
	margin: 0px;
}
.main-con  .online .head span{
	float: right;
}
.main-con .online .body table{
	width:100%;
}
.main-con .online .body table tr{
	height: 30px;
}


.main-con .rooms{
	width: 650px;
	height: 170px;
	position: absolute;
	top: 50px;
	left: 460px;

}
.main-con .rooms .head{
	text-align: center;
}
.main-con .rooms .body{
	height: 100px;
	overflow-y: scroll;
}
.main-con .rooms .body div{
	float:left;
	margin: 10px 20px;
	text-align: center;
}


.main-con .chat{
	position: absolute;
	width: 670px;
	height:270px;
	right: 70px;
	bottom:60px;
}
.main-con .chat .head{
	text-align: center;
}

.main-con .chat .body{
height: 180px;
}
.main-con .chat .body ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.main-con .chat .body ul li{
	height: 30px;
	line-height: 30px;	
}
.mian-con .chat .footer{
	text-align: center;
}
.main-con .chat .footer input[type=text]{
	width: 250px;
	height: 25px;
	border:2px solid black;
	border-radius: 10px;
	outline: none;
}
.main-con .chat .footer button[type=button]{

	border:none;
	background-color: transparent;
	outline: none;
	font-size: 17px;
	margin-top: 5px;

}


#roomname{
position:absolute;
	left: 80px;
	bottom: 45px;
	height:35px;
	width: 170px;
	background-color: transparent;;
	border-color:transparent;
	border:none;
	outline: none;
	text-align: center;
	/*	font-family: game;*/
	color: white;
}
#createroom{
	position: absolute;
	left: 285px;
	bottom: 40px;
	width:70px;
	background-color: transparent;
	border: none;
	outline: none;
	text-align: center;
/*	font-family: game;*/
	color:white;
	font-size: 24px;
}

.game{
	position: absolute;
	left:0px;
	top:0px;
}
.game canvas{
	background-color: antiquewhite;
}






















